*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:#f6f8f9;
}
/* Header */
.logo{
  font-size: 60px;
  vertical-align: middle;
}
img{
  vertical-align: middle;  
  margin-left: 30px;
}
header{
  background-color: white;
}

/* Main */

.conteiner{
  width: 1000px;
  margin: 50px auto;
  background-color: white;
}
.bottoni{
  padding:20px 0 10px 50px;
  border-bottom: 3px solid #f6f8f9;
}
.bottone-1,.bottone-2{  
  padding: 10px;
  border-radius: 15%;
}
.bottone-1{
  background-color: #47adf1;
  border-color: #47adf1;
  color: white;
}
.bottone-2{
  background-color: white;
  border-color: lightgray;
  color:lightgray;
}
.list{
  padding:20px 0 30px 50px; 
}
ol{
	list-style:none;
}
.check,.cross{
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
}
.check{
  color: green;
  border:1px solid green;

}
.cross{  
  color: red;
  border:1px solid red;

}
h3{
  margin-bottom: 15px;
  margin-top: 20px;
}
.lista1 li{
  margin-top: 20px;
}
.lista2 li,.lista3 li{
  margin-bottom: 30px;
}
.lista1,.lista2,.lista3{
  margin-bottom: 50px;
}
.blue,.violet,.aqua,.orange,.pink,.green{
  color: white;
  padding: 10px;
  border-radius: 20%;
}
.blue{
  background-color: #47adf1;
}
.violet{
  background-color: darkorchid;
}
.aqua{
  background-color: aqua;
}
.orange{
  background-color: orange;
}
.pink{
  background-color: palevioletred;
}
.green{
  background-color: greenyellow;
}

